# Lingfei Wang, 2022, 2023. All rights reserved.
name: "Container image"

on:
  push:
    branches:
      - master
      - dev
    paths:
      - 'setup.py'
      - 'src/**'
      - 'bin/**'
      - 'utils/docker/**'
      - 'doc/scripts/install.sh'
      - '.github/workflows/ci-container.yml'
      - '.github/actions/dockerhub-build-publish/**'

jobs:
  build-cpu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          path: local
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and publish pretest version
        uses: ./local/.github/actions/dockerhub-build-publish
        id: publish-pretest
        with:
          registry: lfwa
          image: dictys-cpu-dev

  test-blood1-cpu:
    name: Blood static network unit tests
    needs: build-cpu
    runs-on: ubuntu-latest
    container:
      image: lfwa/dictys-cpu-dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Get dataset URL
        id: zenodo-url-translate
        uses: ./.github/actions/zenodo-url-translate
        with:
          url: https://zenodo.org/records/6858494/files/inference-blood1.tar.xz?download=1
      - name: Test dataset
        uses: ./.github/actions/inference-test-dataset
        with:
          url: ${{ steps.zenodo-url-translate.outputs.url }}
          test-path: ci_testspace
          makefile: test_static.mk
          expected-folder: test/tmp_static_expected
          actual-folder: test/tmp_static
          expected-h5: test/output/static_expected.h5
          actual-h5: test/output/static.h5
          makefile-params: '{"ENVMODE": "none", "NTH": "2", "DEVICE": "cpu", "GENOME_MACS2": "hs", "JOINT": "0", "KPARAMS-NETWORK-RECONSTRUCT+": " --nstep 10 --nstep_report 3"}'
          exclusions: 'reads.bam reads.bai net_weight.tsv.gz net_covfactor.tsv.gz net_meanvar.tsv.gz net_loss.tsv.gz net_stats.tsv.gz'
          
  build-publish-cpu:
    needs: test-blood1-cpu
    if: ( github.ref_name == 'master' ) && ( github.repository == 'pinellolab/dictys' )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          path: local
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and publish
        uses: ./local/.github/actions/dockerhub-build-publish
        id: publish
        with:
          registry: lfwa
          image: dictys-cpu

  build-publish-cuda:
    needs: test-blood1-cpu
    if: false && ( github.ref_name == 'master' ) && ( github.repository == 'pinellolab/dictys' )
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cuda: [11.3,11.6,11.7]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          path: local
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and publish
        uses: ./local/.github/actions/dockerhub-build-publish
        id: publish
        with:
          registry: lfwa
          cuda: ${{ matrix.cuda }}
          image: dictys-cuda{{ matrix.cuda }}
