# Lingfei Wang, 2022. All rights reserved.
name: CI for code checks

on:
  push:
    branches:
      - master
      - dev
    paths:
      - 'src/**'
      - '.github/workflows/ci-codecheck.yml'

jobs:
  codecheck:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9","3.10"]
        software: ["pylint","flake8"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ${{ matrix.software }}
    - name: Analysing code
      run: ${{ matrix.software }} src || true
