name: CI for network inference tests

on:
  push:
    branches:
      - main
      - dev
    paths:
      - 'setup.py'
      - 'src/**'
      - 'bin/**'
      - '.github/workflows/ci-inference.yml'
      - '.github/actions/zenodo-url-translate/**'
      - '.github/actions/inference-test-dataset/**'
      - '.github/scripts/inference-test-dataset.py'
      - '.github/actions/install/**'

jobs:
  test-skin1:
    name: Skin static network end-to-end tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v3
    - name: Install
      uses: ./.github/actions/install
      with:
        python-version: ${{ matrix.python-version }}
        cuda-version:
    - name: Get dataset URL
      id: zenodo-url-translate
      uses: ./.github/actions/zenodo-url-translate
      with:
        url: https://zenodo.org/record/6858494/files/inference-skin1.tar.xz?download=1
    - name: Test dataset
      uses: ./.github/actions/inference-test-dataset
      with:
        url: ${{ steps.zenodo-url-translate.outputs.url }}
        test-path: ci_testspace
        makefile: static.mk
        expected-folder: test/tmp_static_expected
        actual-folder: tmp_static
        expected-h5: test/output/static_expected.h5
        actual-h5: output/static.h5
        makefile-params: '{"ENVMODE": "none", "NTH": "2", "DEVICE": "cpu", "GENOME_MACS2": "mm", "JOINT": "1", "KPARAMS-NETWORK-RECONSTRUCT+": " --nstep 10 --nstep_report 3"}'
        exclusions: 'footprints.bed net_weight.tsv.gz net_covfactor.tsv.gz net_meanvar.tsv.gz net_loss.tsv.gz net_stats.tsv.gz net_nweight.tsv.gz net_iweight.tsv.gz net_inweight.tsv.gz'

  test-blood1:
    name: Blood static network unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v3
    - name: Install
      uses: ./.github/actions/install
      with:
        python-version: ${{ matrix.python-version }}
        cuda-version:
    - name: Get dataset URL
      id: zenodo-url-translate
      uses: ./.github/actions/zenodo-url-translate
      with:
        url: https://zenodo.org/record/6858494/files/inference-blood1.tar.xz?download=1
    - name: Test dataset
      uses: ./.github/actions/inference-test-dataset
      with:
        url: ${{ steps.zenodo-url-translate.outputs.url }}
        test-path: ci_testspace
        makefile: test_static.mk
        expected-folder: test/tmp_static_expected
        actual-folder: test/tmp_static
        expected-h5: test/output/static_expected.h5
        actual-h5: test/output/static.h5
        makefile-params: '{"ENVMODE": "none", "NTH": "2", "DEVICE": "cpu", "GENOME_MACS2": "hs", "JOINT": "0", "KPARAMS-NETWORK-RECONSTRUCT+": " --nstep 10 --nstep_report 3"}'
        exclusions: 'reads.bam reads.bai net_weight.tsv.gz net_covfactor.tsv.gz net_meanvar.tsv.gz net_loss.tsv.gz net_stats.tsv.gz'
        
  test-blood2:
    name: Blood dynamic network unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v3
    - name: Install
      uses: ./.github/actions/install
      with:
        python-version: ${{ matrix.python-version }}
        cuda-version:
    - name: Get dataset URL
      id: zenodo-url-translate
      uses: ./.github/actions/zenodo-url-translate
      with:
        url: https://zenodo.org/record/6858494/files/inference-blood2.tar.xz?download=1
    - name: Test dataset
      uses: ./.github/actions/inference-test-dataset
      with:
        url: ${{ steps.zenodo-url-translate.outputs.url }}
        test-path: ci_testspace
        makefile: test_dynamic.mk
        expected-folder: test/tmp_dynamic_expected
        actual-folder: test/tmp_dynamic
        expected-h5: test/output/dynamic_expected.h5
        actual-h5: test/output/dynamic.h5
        makefile-params: '{"ENVMODE": "none", "NTH": "2", "DEVICE": "cpu", "GENOME_MACS2": "hs", "JOINT": "0", "KPARAMS-NETWORK-RECONSTRUCT+": " --nstep 10 --nstep_report 3", "PARAMS-DYNAMIC-SUBSETS_RNA": "1000 10 10"}'
        exclusions: 'reads.bam reads.bai net_weight.tsv.gz net_covfactor.tsv.gz net_meanvar.tsv.gz net_loss.tsv.gz net_stats.tsv.gz'
